node_modules
/client/node_modules
/server/node_modules
.venv
/ml-service/venv
/ml-service/uploads
/server/uploads
uploads/
**/__pycache__
*.pyc
.env
.env.*
.DS_Store
/client/build
build/
coverage
*.log

